{% load static %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <div class="col-auto flex-grow-1">
        <h3 class="mb-3">{{ carousel_title }}</h3>
    </div>
    <div class="col-auto text-right">
        <button class="btn btn-warning mb-3 mr-1" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
            <i class="bi bi-caret-left-fill"></i>
        </button>
        <button class="btn btn-warning mb-3" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
            <i class="bi bi-caret-right-fill"></i>
        </button>
    </div>
</div>
<div class="row row-cols-1 row-cols-xxl-3 g-4">
    <div class="col-12">
        <div id="{{ carousel_id }}" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                {% for hero in snippets_heroes %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-xxl-3 g-4 mb-3">
                    {% elif forloop.counter0|divisibleby:3 %}
                        <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-xxl-3 g-4 mb-3">
                    {% endif %}
                <div class="col">
                    <div class="card h-100">
                        <div class="row g-0 align-items-center m-3">
                            <div class="col-auto">
                                <a href="{% url 'user-detail' hero.pk %}">
                                    <img src="{{ hero.get_profile_image }}" alt="usr" class="rounded-circle border border-3 border-dark" width="100" height="100" style="object-fit: cover;">
                                </a>
                            </div>
                            <div class="col-auto flex-grow-1">
                                <div class="card-body">
                                    <h5 class="card-title">@{{ hero.username }}</h5>
                                    <small class="text-muted">
                                        <i class="bi bi-star-fill text-warning h6"></i>
                                        {{ hero.total_stars }}
                                    </small>
                                </div>
                            </div>
                            <div class="col-auto">
                                {% if forloop.counter == 1 %}
                                    <i class="display-5 bi bi-trophy-fill text-warning"></i>
                                {% elif forloop.counter == 2 %}
                                    <i class="display-5 bi bi-trophy-fill" style="color: #C0C0C0;"></i>
                                {% elif forloop.counter == 3 %}
                                    <i class="display-5 bi bi-trophy-fill" style="color: #cd7f32;"></i>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div></div>
                {% endif %}
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
