{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update user{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-15 py-4">
                <h1> Update user</h1>
                {% crispy form %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}