{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
    <link href="{% static 'css/prism.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col-auto px-0 me-3">
                    <img src="{{ object.get_profile_image }}" alt="usr" class="rounded-circle border border-3 border-dark" width="150" height="150" style="object-fit: cover;">
                </div>
                <div class="col text-left flex-grow-1">
                    <h3>{{ object.first_name }} {{ object.last_name }}</h3>
                    <h4 class="text-muted">@{{ object.username }}</h4>
                    <h5>{{ object.get_ranking }} <i class="bi bi-star-fill text-warning"></i></h5>
                </div>
                <div class="col-auto py-3">
                    {% if user.pk == object.pk %}
                        <a class="btn btn-warning mb-3 me-0 w-100" href="{% url 'user-update' object.pk %}" role="button">Edit</a>
                        <form method="POST" action="{% url 'user-update-privacy' object.pk %}" class="mb-3 me-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-block w-100">
                                {% if object.private %}Private{% else %}Public{% endif %}
                            </button>
                        </form>
                        <a class="btn btn-warning mb-3 me-0 w-100" href="{% url 'password_change' %}" role="button">Change password</a>
                    {% endif %}
                </div>
            </div>
            <br>
            <hr>
            {% include 'snippetshero/snippets/snippets_carousel.html' with carousel_title='Created Snippets' carousel_id='createdSnippetsCarousel' snippets=object.snippets.all %}
            {% if not object.private or object.pk == user.pk %}
                <hr class="my-3">
                {% include 'snippetshero/snippets/snippets_carousel.html' with carousel_title='Saved Snippets' carousel_id='savedSnippetsCarousel' snippets=object.saved.all %}
                <hr class="my-3">
                {% include 'snippetshero/snippets/snippets_carousel.html' with carousel_title='Liked Snippets' carousel_id='likedSnippetsCarousel' snippets=object.liked.all %}

            {% endif %}
        </div>
    </div>
{% endblock %}