{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Update comment{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-15 py-4">
                <h1> Update comment</h1>
                <hr>
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
