<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <div class="col-auto flex-grow-1">
        <h3 class="mb-3">Popular Tags</h3>
    </div>

</div>
<div class="row row-cols-1 row-cols-lg-3 g-4">
    <div class="col-12">
        {% for tag in tags %}
            <a class="btn btn-warning my-1" href="{% url 'snippets-by-tag' tag.name %}" role="button">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>