{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}New snippet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/css/tagin.min.css">
    <script src="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/js/tagin.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-15 py-4">
                <h1> New snippet</h1>
                {% crispy form %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
