<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ snippet.title }}</h5>
            <h6 class="card-subtitle">@{{ snippet.author.username }}</h6>
            <p class="card-text pt-3">{% if snippet.description == "" %}No description.{% else %}{{ snippet.description|truncatechars:100 }}{% endif %}</p>
        </div>
        <div class="ps-3 pb-3">
            <a class="btn btn-warning" href="{% url 'snippetshero:snippet-detail' snippet.pk %}" role="button">View snippet</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ snippet.language.title }} |
                <i class="bi bi-star-fill text-warning h6"></i>
                {{ snippet.stars }}</small>
        </div>
    </div>
</div>