<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <div class="col-auto flex-grow-1">
        <h3 class="mb-3">{{ carousel_title }}</h3>
    </div>
    <div class="col-auto text-right">
        <button class="btn btn-warning mb-3 mr-1" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
            <i class="bi bi-caret-left-fill"></i>
        </button>
        <button class="btn btn-warning mb-3" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
            <i class="bi bi-caret-right-fill"></i>
        </button>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 g-4">
    <div class="col-12">
        <div id="{{ carousel_id }}" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                {% for snippet in snippets %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-lg-3 g-4 mb-3">
                    {% elif forloop.counter0|divisibleby:3 %}
                        <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-lg-3 g-4 mb-3">
                    {% endif %}
                {% include 'snippetshero/snippets/snippet_card.html' with snippet=snippet only %}
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div></div>
                {% endif %}
                {% endfor %}

                </div>
                </div>
            </div>
        </div>