{% extends 'base.html' %}

{% block title %}
    Tag: {{ tag_name }}
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <h1 class="">Tag: {{ tag_name }}</h1>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 my-3">
            {% for snippet in object_list %}
                {% include 'snippetshero/snippets/snippet_card.html' with snippet=snippet only %}
            {% endfor %}
        </div>
    </div>
{% endblock %} %}
