{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
    <link href="{% static 'css/prism.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col-auto px-0 me-3">
                    <img src="{{ object.author.get_profile_image }}" alt="usr" class="rounded-circle border border-3 border-dark" width="150" height="150" style="object-fit: cover;">
                </div>
                <div class="col-auto text-left flex-grow-1">
                    <h3 class="mb-3">@{{ object.author.username }}</h3>
                    <a class="btn btn-warning" href="{% url 'user-detail' object.author.pk %}" role="button">View profile</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-auto px-0 py-3">
                        <form method="POST" action="{% url 'snippetshero:snippet-like' object.pk %}" class="mb-3 me-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn{% if not object in user.liked.all %}-outline{% endif %}-warning btn-block w-100">
                                {{ object.stars }}
                                <i class="bi bi-star"></i>
                            </button>
                        </form>

                        <form method="POST" action="{% url 'snippetshero:snippet-save' object.pk %}" class="mb-3 me-0">
                            {% csrf_token %}
                            {% if object in user.saved.all %}
                                <button type="submit" class="btn btn-warning btn-block w-100">
                                    Saved
                                    <i class="bi bi-bookmark"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-warning btn-block w-100">
                                    Save
                                    <i class="bi bi-bookmark"></i>
                                </button>
                            {% endif %}

                        </form>

                        {% if object.author.pk == user.pk %}
                            <div class="btn-group me-0">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Options
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'snippetshero:snippet-update' object.pk %}">Edit</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteSnippet">Delete</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <h3>{{ object.title }}</h3>
        <hr>
        <p>{% if object.description == "" %}No description.{% else %}{{ object.description|linebreaks }}{% endif %}</p>
        <h3>{{ object.language }}</h3>
        <hr>
        <pre class="my-3"><code class="language-{{ object.language.value }}">{{ object.code }}</code> </pre>
        <h3>Tags</h3>
        <hr>
        {% if object.author.pk == user.pk %}
            {% for tag in object.tags.all %}
                <form method="POST" action="{% url 'snippetshero:tag-remove' object.pk tag.name %}" class="mb-3 me-0 d-inline">
                    {% csrf_token %}
                    <div class="btn-group my-1" role="group">
                        <a class="btn btn-outline-dark" href="{% url 'snippets-by-tag' tag.name %}" role="button">{{ tag.name }}</a>
                        <button type="submit" class="btn btn-outline-dark px-2">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </form>
            {% endfor %}
        {% else %}
            {% for tag in object.tags.all %}
                <a class="btn btn-outline-dark" href="{% url 'snippets-by-tag' tag.name %}" role="button">{{ tag.name }}</a>
            {% endfor %}
        {% endif %}
        <h3 class="mt-3">Comments</h3>
        <hr>
        <div class="overflow-auto" style="max-height: 400px">
            <div class="list-group">
                {% for comment in object.comment_set.all %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@{{ comment.author.username }}</h5>
                            <small>{{ comment.create_on|date:"d M Y P" }}</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">{{ comment.content}}</p>
                            {% if comment.author.pk == user.pk %}
                                <div class="btn-group me-0">
                                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'snippetshero:update-comment' object.pk comment.pk %}">Edit</a></li>
                                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteComment" data-bs-comment-delete="{% url 'snippetshero:delete-comment' object.pk comment.pk %}">Delete</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <hr>
            {% crispy form %}
        {% endif %}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteSnippet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete snippet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete snippet "{{ object.title }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" action="{% url 'snippetshero:snippet-delete' object.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-warning">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" id="deleteCommentForm">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-warning">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/prism.js' %}"></script>
    <script src="{%  static 'js/delete_comment.js' %}"></script>
    <script src="{%  static 'js/update_comment.js' %}"></script>
{% endblock %}