{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block body %}
    <body class="bg-dark">

    <div class="container col-xl-10 col-xxl-8 px-4 pt-5 text-center">
        <h1 class="text-light">Login</h1>
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 border rounded-3 bg-light">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>


        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





    </body>
{% endblock%}