{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div>
                <h1>Change Password</h1>
            </div>

        </div>
        <hr>
        {% crispy form %}
    </div>
{% endblock %}