{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sign-up{% endblock %}

{% block body %}
    <body class="bg-warning">

    <div class="container px-4 py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Join the Snippets Hero community.</h1>
                <p class="fs-5 mb-1"><i class="bi bi-code"></i> Share your snippets</p>
                <p class="fs-5 mb-1"><i class="bi bi-unlock-fill"></i> Unlock new privileges like voting and commenting</p>
                <p class="fs-5 mb-1"><i class="bi bi-bookmark-fill"></i> Save your favourite snippets</p>
                <p class="fs-5 mb-1"><i class="bi bi-star-fill"></i> Earn reputation</p>
            </div>
            <div class="col-md-10 ms-auto col-lg-5">
                <div class="p-4 border rounded-3 bg-light">

                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>


        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





    </body>
{% endblock%}