{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script src="{% static 'js/custom.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}

    {% endblock %}
</head>
{% block body %}
    <body>

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static 'img/SnippetsHeroLogo.svg' %}" width="50" height="50" alt="Logo">
                </a>

                {% with request.resolver_match.url_name as url_name %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 px-3">
                        <li><a href="{% url 'home' %}" class="nav-link px-2 {% if url_name == 'home' %} text-warning {% else %} text-secondary {% endif %}">Home</a></li>
                        <li><a href="{% url 'languages-list' %}" class="nav-link px-2 {% if url_name == 'languages-list' or url_name == 'language-snippets' %} text-warning {% else %} text-secondary {% endif %}">Languages</a></li>
                        <li><a href="{% url 'search' %}" class="nav-link px-2 {% if url_name == 'search' %} text-warning {% else %} text-secondary {% endif %}">Search</a></li>
                    </ul>
                {% endwith %}




                {% if user.is_authenticated %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.get_profile_image }}" alt="usr" class="rounded-circle" width="50" height="50" style="object-fit: cover;">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                            <li><a class="dropdown-item" href="{% url 'snippetshero:snippet-create' %}">New snippet...</a></li>
                            <li><a class="dropdown-item" href="{% url 'user-detail' user.pk %}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'user-logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="text-end">
                        <a class="btn btn-outline-light me-2" href="{% url 'user-login' %}" role="button">Login</a>
                        <a class="btn btn-warning" href="{% url 'user-create' %}" role="button">Sign-up</a>
                    </div>
                {% endif %}


            </div>
        </div>
    </header>

    <div class="container">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show my-4" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>


    {% block content %}

    {% endblock %}

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% block scripts %}

    {% endblock %}
    </body>
{% endblock %}

</html>