{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
    {#    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>#}
{% endblock %}

{% block content %}

    <div class="container my-3">
        {% if not user.is_authenticated %}
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static 'img/SnippetsHero.svg' %}" class="d-block mx-lg-auto img-fluid" alt="SnippetsHero" width="500" height="500">
                </div>
                <div class="col-lg-6">
                    <h1 class="lh-1 mb-3">Welcome to Snippets Hero!</h1>
                    <p class="fs-4">Snippets Hero is a platform that allows you to share snippets with other users.
                        The main goal is to support open-source code and help developers find solutions to their problems.
                    </p>


                    <p class="lead fs-4 d-inline">Are you ready to become the next</p>
                    <p class="fs-4 d-inline">Snippets Hero</p><p class="lead fs-4 d-inline">?</p>
                    <br><br>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-outline-dark btn-lg px-4" href="{% url 'user-login' %}" role="button">Login</a>
                        <a class="btn btn-warning btn-lg px-4 me-md-2" href="{% url 'user-create' %}" role="button">Sign-up</a>
                    </div>


                </div>
            </div>
        {% else %}
            <div class="row align-items-center">
                <div class="col-auto flex-grow-1">
                    <h1>Hi, {{ user.first_name }}!</h1>
                </div>
                <div class="col-auto">
                    <a class="btn btn-warning" href="{% url 'snippetshero:snippet-create' %}" role="button">New snippet</a>
                </div>
            </div>
        {% endif %}
        <hr>
        {% include 'snippetshero/snippetshero_user/snippets_heroes_carousel.html' with carousel_title='Hall of Fame' carousel_id='snippetsHeroesCarousel' snippets_heroes=snippets_heroes %}
        <hr class="my-3">
        {% include 'snippetshero/snippets/snippets_carousel.html' with carousel_title='Top Snippets' carousel_id='topSnippetsCarousel' snippets=top_snippets %}
        <hr class="my-3">
        {% include 'snippetshero/snippets/snippets_carousel.html' with carousel_title='Recent Snippets' carousel_id='recentSnippetsCarousel' snippets=recent_snippets %}
        <hr class="my-3">
        {% include 'snippetshero/snippets/popular_tags.html' with tags=popular_tags %}
    </div>

{% endblock %}