{% extends 'base.html' %}

{% block title %}
    Languages
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <h1>
                {% if language == None %}
                    Select a language
                {% else %}
                    {{ language.title }}
                {% endif %}
            </h1>
        </div>
        <hr>
        <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-3 my-3">
            {% for lang in object_list %}
                <div class="col my-1">
                    <div class="d-grid">
                        <a class="btn {% if lang == language %}btn-warning{% else %}btn-outline-warning{% endif %}" href="{% url 'language-snippets' lang.value %}" role="button">{{ lang.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block details %}
            {% if not language == None %}
                <hr>
            {% endif %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 my-3">
                {% for snippet in snippets %}
                    {% include 'snippetshero/snippets/snippet_card.html' with snippet=snippet only %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>

{% endblock %} %}
