{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Search
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/css/tagin.min.css">
    <script src="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/js/tagin.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <h1>Search</h1>
        </div>
        <hr>
        {% crispy form %}
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 my-3">
            {% for snippet in snippets %}
                {% include 'snippetshero/snippets/snippet_card.html' with snippet=snippet only %}
            {% endfor %}
        </div>

    </div>
{% endblock %} %}
